.error-404 {
    margin-top: 10rem;
    text-align: center;
    .page-content a {
        color: $color__accent-gold;
    }
    .featured-portfolio-wrapper {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}