/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Containers */

.r-container {
	padding: 25px 0 20px;
}

.l-container {
	padding: 0 1.5rem;
}

/* Page Margining */
body {
	margin-top: 57px;
	@include media($tablet) {
		margin-top:	64px;
	}
}

.page-template-sourcing, .page-template-leasing {
	margin-top: 110px;
	@include media($desktop) {
		margin-top: 150px;
	}
}

.category, .single {
	margin-top: 70px;
	@include media($tablet) {
		margin-top: 78px;
	}
	@include media($desktop) {
		margin-top: 82px;
	}
}

/* Shared Styling */

.site-main {
	margin-bottom: 4rem;
}

.centered {
	text-align: center;
}

.divider {
	width: 325px;
    height: 100%;
	margin: 0 auto;
	margin-bottom: 1rem;
	@include media($tablet) {
		width: 450px;
	}
	@include media($desktop) {
		width: 500px;
	}
	img {
		@include img-fit;
	}
}

.page-title {
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Times New Roman', serif;
}

.luxury-car-container {
    width: 300px;
	margin: 0 auto;
}

.bentley {
    height: 200px;
    background: url(../../assets/car-bentley.svg) no-repeat;
	background-position: 12px 0;
	@include media($tablet) {
		background-position: -33px 0;
		background-size: 290px;
		height: 260px;
	} 
}

.wpcf7 {
	input, textarea {
		width: 100%;
		border-radius: 0;
		background: $color__background-forms;
		border: none;
		color: $color__accent-softwhite;
		padding-left: 0.5rem;
		&:focus {
			outline: none;
			color: $color__accent-softwhite;
		}
	}
	input {
		height: 34px;
	}
	textarea {
		margin-bottom: 1rem;
	}
	p {
		margin: 0;
		margin: 0 auto;
		max-width: 600px;
		&:last-of-type {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
	}
	input[type=submit] {
		-webkit-box-shadow: none;
		        box-shadow: none;
    	width: 175px;
    	text-shadow: none;
    	height: 45px;
    	background: transparent;
    	border: 1px solid $color__accent-softwhite;
		color: $color__accent-softwhite;
		text-transform: uppercase;
	}
}