.home {
    margin-top: 0;
}

.hero-container {
    width: 100%;
    height: 720px;
    background: url(../../assets/mobile-home-img.jpg) no-repeat;
    background-size: cover;
    background-position: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    @include media($beehive) {
    }
    @include media($tablet) {
        background: url(../../assets/desktop-home.jpg) no-repeat;
        background-size: cover;
        background-position: -123px 0;
    }
    @include media($desktop) {
        background-position: 0 0;
    }
    a {
        margin-bottom: 5.5rem;
        padding: 0.5rem 2rem;
        border: 1px solid $color__text-main;
        background: rgba(0,0,0,0.4);
        color: $color__text-main;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            background: rgba(0,0,0,0.6);
        }
    }
}

.featured-portfolio-container {
    margin-bottom: 6rem;
    .page-title {
        margin: 4rem 0 2rem;
        color: $color__accent-gold;
    }
    .divider {
        height: 30px;
        width: 100%;
        margin-bottom: 4rem;
        @include media($beehive) {
            width: 80%;
            height: 44px;
        }
        @include media($tablet) {
            width: 60%;
        }
        @include media($desktop) {
            width: 600px;
        }
    }
}

.featured-portfolio-wrapper {
    @include media($desktop) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.featured-car-wrapper {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 3rem;
    @include media($desktop) {
        width: 30%;
        margin: 0;
        margin-bottom: 3rem;
    }
    @include media($wide) {
        width: 28%;
    }
    img {
        width: 100%;
        height: 280px;
        -o-object-fit: cover;
           object-fit: cover;
        vertical-align: bottom;
        @include media($desktop) {
            height: 215px;
        }
        @include media($wide) {
            height: 235px;
        }
    }
}

.featured-label-wrapper {
    background: #232323;
    height: 80px;
    padding: 0 0.5rem;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    a {
        width: 30px;
        height: 30px;
        text-decoration: none;
        border: 1px solid #FFF;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-transform: lowercase;
    }
    p {
        margin: 0;
        font-weight: bold;
    }
    .car-price {
        color: $color__accent-gold;
    }
}

.car-title {
    word-spacing: -2px;
}

.more-arrow {
    width: 30px;
    height: 20px;
    background: url(../../assets/arrow-down.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.more-info {
    color: #FFF;
}

.home-about-container {
    width: 100%;
    background: url(../../assets/beehive-bg.svg);
    background-size: cover;
    background-position: -13px 0;
    padding: 7rem 2rem;
    position: relative;
    margin-bottom: 4rem;
    -webkit-clip-path: polygon(0 1.5%,0 20%,0 49%,0 97%,49.5% 100%,50% 100%,49.5% 100%,100% 97%,100% 51%,101% 20%,100% 1.5%,50% 5%);
            clip-path: polygon(0 1.5%,0 20%,0 49%,0 97%,49.5% 100%,50% 100%,49.5% 100%,100% 97%,100% 51%,101% 20%,100% 1.5%,50% 5%);
    @include media($beehive2) {
        -webkit-clip-path: polygon(0 1.5%,0 20%,0 49%,0 95%,49.5% 100%,50% 100%,49.5% 100%,100% 95%,100% 51%,101% 20%,100% 1.5%,50% 6.5%);
                clip-path: polygon(0 1.5%,0 20%,0 49%,0 95%,49.5% 100%,50% 100%,49.5% 100%,100% 95%,100% 51%,101% 20%,100% 1.5%,50% 6.5%)
    }
    @include media($tablet) {
        position: inherit;
        padding: 8rem 2rem;
        -webkit-clip-path: polygon(0% 0%,0 20%,0% 49%,0% 89%,49.5% 100%,50% 100%,49.5% 100%,100% 89%,100% 51%,100% 19%,100% 0%,49.5% 7%);
                clip-path: polygon(0% 0%,0 20%,0% 49%,0% 89%,49.5% 100%,50% 100%,49.5% 100%,100% 89%,100% 51%,100% 19%,100% 0%,49.5% 7%);
    }
    @include media($desktop) {
        padding: 12rem 2rem;
    }
}

.aboutus-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    background: rgba(35,35,35,0.9);
    @include media($beehive) {
        position: relative;
    }
    .page-title {
        margin: 0 0 7rem 0;
        color: $color__text-main;
    }
    .divider {
        position: absolute;
        width: 100%;
        height: 43px;
        max-width: 450px;
        left: 0;
        top: 14rem;
        @include media($beehive) {
            height: 49px;
            top: 7rem;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
}