.site-header {
    width: 101%;
    height: 110px;
    background: rgba(0,0,0,0.7);
    -webkit-clip-path: polygon(0 0,100% 0,100% 75%,100% 54%,49.5% 74%,0 54%,0 75%);
            clip-path: polygon(0 0,100% 0,100% 75%,100% 54%,49.5% 74%,0 54%,0 75%);
    position: fixed;
    top: 0;
    z-index: 1;
    @include media($tablet) {
        -webkit-clip-path: polygon(0 0,100% 0,100% 75%,100% 58%,49.5% 85%,0 58%,0 75%);
                clip-path: polygon(0 0,100% 0,100% 75%,100% 58%,49.5% 85%,0 58%,0 75%);
    }
    @include media($desktop) {
        -webkit-clip-path: polygon(0 0,100% 0,100% 75%,100% 46%,49.5% 100%,0 46%,0 75%);
                clip-path: polygon(0 0,100% 0,100% 75%,100% 46%,49.5% 100%,0 46%,0 75%);
    }
}

.site-branding {
    margin: 0 auto;
    height: 50px;
    width: 190px;
    margin-top: 1rem;
    @include media($tablet) {
        width: 250px;
        margin-top: 1.5rem;
    }
}

.header-logo {
    background-image: url(../../assets/pea-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.responsive-menu-button {
    -webkit-box-shadow: none;
            box-shadow: none;
    &:active, &:hover, &:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}

#responsive-menu-wrapper {
    margin-top: 7rem !important;
}

.main-navigation {
    @include media($desktop) {
        position: absolute;
        top: 1.3rem;
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            li:nth-of-type(3) {
                margin-right: 10rem;
            }
            li:nth-of-type(4) {
                margin-left: 10rem;
            }
        }
        a {
            color: $color__accent-gold;
            text-transform: uppercase;
            font-family: 'Times New Roman', serif;
            &:hover {
                color: $color__background-darkgold;
            }
        }
    }
}