/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Leasing & sourcing Shared */

.page-template-leasing, .page-template-sourcing {
    background: #FFF;
    .page-title {
        margin: 4rem 0 2rem;
        color: $color__background-body;
    }
}

.page-info-container {
    margin-bottom: 2rem;
    >div {
        max-width: 600px;
        margin: 0 auto;;
        color: $color__background-body;
        text-align: center;
        padding: 10px;
        position: relative;
        text-align: center;
        padding: 30px 15px 15px;
    } 
    >div:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background: $color__background-lightgrey;
        z-index: -1;
        -webkit-transform: skew(0deg, 6deg);
        -moz-transform: skew(0deg, 6deg);
        -ms-transform: skew(0deg, 6deg);
        -o-transform: skew(0deg, 6deg);
        transform: skew(0deg, 6deg);
        @include media($tablet) {
            -webkit-transform: skew(0deg, 4.5deg);
            -moz-transform: skew(0deg, 4.5deg);
            -ms-transform: skew(0deg, 4.5deg);
            -o-transform: skew(0deg, 4.5deg);
            transform: skew(0deg, 4.5deg);
        }
    }
    >div:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: $color__background-lightgrey;
        z-index: -1;
        -webkit-transform: skew(0deg, -6deg);
        -moz-transform: skew(0deg, -6deg);
        -ms-transform: skew(0deg, -6deg);
        -o-transform: skew(0deg, -6deg);
        transform: skew(0deg, -6deg);
        @include media($tablet) {
            -webkit-transform: skew(0deg, -4.5deg);
            -moz-transform: skew(0deg, -4.5deg);
            -ms-transform: skew(0deg, -4.5deg);
            -o-transform: skew(0deg, -4.5deg);
            transform: skew(0deg, -4.5deg);
        }
    }
    ul {
        margin: 0;
    }
    .divider {
        width: auto;
        margin-top: 2rem;
    }
}

.page-template-leasing, .page-template-sourcing {
	.wpcf7 {
		input, textarea {
			background: #FFF;;
			color: $color__background-body;
			border: 1px solid $color__background-body;
			&:focus {
				color: $color__background-body;
			}
		}
		input[type=submit] {
            background: $color__accent-gold;
            border: 1px solid $color__accent-gold; 
            color: $color__accent-softwhite;
            &:hover {
                background: $color__background-darkgold;
			    border: 1px solid $color__background-darkgold; 
            }
		}
	}
}

/* Leasing Page */

.lambo {
    background: url(../../assets/car-lamborghini.svg) no-repeat;
}

/* sourcing Page */

.ferrari {
    background: url(../../assets/car-ferrari.svg) no-repeat;
}

.lambo, .ferrari{
    height: 200px;
    background-position: 50%;
    @include media($tablet) {
        background-size: 290px;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}

.page-template-sourcing {
    .page-info-container {
        >div {
            color: $color__text-main;
        }
        >div:before {
            background: $color__background-darkgrey;
        }
        >div:after {
            background: $color__background-darkgrey;
        }
    }
}