.contact-map-container {
    height: 280px;
    background: url(../../assets/contact-map-lg.svg) no-repeat;
    background-size: cover;
    background-position: 50% 0;
    @include media($beehive) {
        background-position: 50% 60%;
        height: 300px;
    }
    @include media($tablet) {
        background-position: 50% 80%;
        height: 350px
    }
    @include media($desktop) {
        height: 500px;
    }
}

.company-contact-container {
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
    @include media($tablet) {
        width: 600px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    >div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    p {
        margin: 0;
    }
    .address-title {
        margin-bottom: 0.5rem;
        color: $color__accent-gold;
    }
}

.company-address-wrapper {
    img {
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
}

.address-info-wrapper {
    padding-top: 0.3rem;
    img {
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
}

.address-info {
    font-size: 14px;
}

.company-info {
    margin-left: 0.5rem;
}

.company-telephone-wrapper {
    @include media($tablet) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    a {
        font-size: 18px;
        margin-top: 0.5rem;
        @include link-color-white;
    }
}